 <!-- About Section -->
    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>About</h2>
                    <hr class="star-light">
                    <h3>Without any context, your data is just a digit.</h3>
                    <br>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-lg-offset-2">
                    <p>I prefer being direct and honest—both in my personal and professional life. Don’t expect any sugar coating here.</p>
                    <p>This no-bullshit approach translates perfectly into helping you get the most out of your data. Effectively.</p>
                    <p>I am not going to fetishize iterations to improve a model’s accuracy by 0.0001%. I rather stay focused on the problem we are actually trying to solve. Will that 0.0001% improvement actually add significant value to your business? If any at all, it will be marginal. And even worse, the costs will not justify that tiny bit of improvement.</p>
                    <p>What is worth it? Contextualizing your data to help you find a solution that is actually meaningful to your business.</p>
                    <p>Great problem solving needs to take context into account.</p>
                </div>
                <div class="col-lg-4">
                    <p>So, let me give you some context about myself.</p>
                    <p>Within the data science community, I consider myself a black sleep. While many of my peers studied mathematics or computer science, I have a M.Sc. in industrial engineer. That educational background, however, is what allows me to look at your data with a broader and more holistic lens.</p>
                    <p>Apart from noticing that I swear like a sailor, you’ll quickly realize when I work: I challenge. This means I’ll ask lots of questions that challenge the norm, challenge the project, and challenge you. It’s my way of drilling the problem we’re trying to solve down to its essence and understanding where the value truly lies in your data. </p>
                </div>
            </div>
        </div>
    </section>
