 <!-- CTA -->
    <section class="success" id="contact">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>Let's put your data to better use!</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <div class="row">
                    <div class="col-lg-4">
                        <p>Data is integral to make informed business decisions. Instead of trusting your gut, ground your decision-making in solid foundation.</p>
                        <p>Send me a message to: <strong>julian@julianpetrich.com</strong> and let's add context to your data.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
